@media screen and (max-width: 600px) {
    .navbar-nav {
        width: 20%;
        text-align: center;
        margin: 30px auto;
    }
    .navbar img {
        width: 50%;
        margin: auto;
        display: block;
    }
}
/* end-of @ media max 600px */

.navbar {
    background-color: rgb(56,57,63);
}
.navbar a:hover {
    color: blue !important;
}

.img1 {
    background-image: url(img/Opening.jpg);
    height: 950px;
    position: absolute;
}
.con1 {
    position: relative;
    top: 50%;
    transform: translate(0%, -50%);
    max-width: 85vw;
    height: fit-content;
}
.title {
    color: white;
    text-align: center;
}